*{
    padding: 0;
    margin: 0;
    font-family: 'Popins' , sans-serif;
}
body{
    background: #faf7f7;
}
.container{
   background: #ffffff;
   height: 500px;
   width:700px ;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
   margin: auto;
   margin-top: 60px;
   border-radius: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.space{
margin-top:20px;
margin-left: 60px;
margin-right: 60px;
margin-bottom: 60px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    gap: 12px;
}
.header .search{
display: flex;
border: 1px solid #ccc;
width: 350px;
border-radius: 4px;
gap: 10px;
height: 45px;
text-align: center;
cursor: pointer;
}
.search img{
width: 28px;
margin-left: 8px;
}
.search p{
color: #281A518A;
font-weight: 500;
font-size: 18px;
line-height: 44px;
}
.map{
    display: flex;
    color: #ffffff;
    background: #281A51;
    width: 120px;
    border-radius: 4px;
    height: 45px;
    text-align: center;
    gap: 3px;
}
.map img{
    width: 22px;
margin-left: 10px;
}
.map p{
    margin-left: 2px;  
    margin-top: 14px; 
}
.boxs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
   
}
.boxs > *{
    text-align: center;
}
.boxs .box1{
    display: flex;
    width: 110px;
    height: 110px;
    flex-direction: column;
    background: #ffd2d2;
    border-radius: 10px;
}
.boxs .box1 img{
    margin-top: 10px;
    width: 50px;
    margin-left: 26px;
    margin-bottom: 10px;
}
.boxs .box1 p{
    font-size: 16px;
    font-weight: 500;
    color: #281A51;
}

.boxs .box2{
    display: flex;
    width: 110px;
    height: 110px;
    flex-direction: column;
    background: #F7ECFF;
    border-radius: 10px;
}
.boxs .box2 img{
    margin-top: 10px;
    width: 50px;
    margin-left: 26px;
    margin-bottom: 10px;
}
.boxs .box2 p{
    font-size: 16px;
    font-weight: 500;
    color: #281A51;
}

.boxs .box3{
    display: flex;
    width: 110px;
    height: 110px;
    flex-direction: column;
    background: #ECF0FF;
    border-radius: 10px;
}
.boxs .box3 img{
    margin-top: 10px;
    width: 50px;
    margin-left: 26px;
    margin-bottom: 10px;
}
.boxs .box3 p{
    font-size: 16px;
    font-weight: 500;
    color: #281A51;
}

.boxs .box4{
    display: flex;
    width: 110px;
    height: 110px;
    flex-direction: column;
    background: #D7F9F3;
    border-radius: 10px;
}
.boxs .box4 img{
    margin-top: 10px;
    width: 50px;
    margin-left: 26px;
    margin-bottom: 10px;
}
.boxs .box4 p{
    font-size: 16px;
    font-weight: 500;
    color: #281A51;
}

.boxs .box5{
    display: flex;
    width: 110px;
    height: 110px;
    flex-direction: column;
    background: #E2FFD4;
    border-radius: 10px;
}
.boxs .box5 img{
    margin-top: 10px;
    width: 50px;
    margin-left: 26px;
    margin-bottom: 10px;
}
.boxs .box5 p{
    font-size: 16px;
    font-weight: 500;
    color: #281A51;
}

.boxs .box6{
    display: flex;
    width: 110px;
    height: 110px;
    flex-direction: column;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.boxs .box6 img{
    margin-top: 10px;
    width: 50px;
    margin-left: 26px;
    margin-bottom: 10px;
}
.boxs .box6 p{
    font-size: 16px;
    font-weight: 500;
    color: #281A51;
}
.boxs .box7{
    display: flex;
    width: 110px;
    height: 110px;
    flex-direction: column;
    background: #FFF3C9;
    border-radius: 10px;
}
.boxs .box7 img{
    margin-top: 10px;
    width: 50px;
    margin-left: 26px;
    margin-bottom: 10px;
}
.boxs .box7 p{
    font-size: 16px;
    font-weight: 500;
    color: #281A51;
}

.boxs .box8{
    display: flex;
    width: 110px;
    height: 110px;
    flex-direction: column;
    background: #FFD9C9;
    border-radius: 10px;
}
.boxs .box8 img{
    margin-top: 10px;
    width: 50px;
    margin-left: 26px;
    margin-bottom: 10px;
}
.boxs .box8 p{
    font-size: 16px;
    font-weight: 500;
    color: #281A51;
}